<!DOCTYPE html>
<html>
<head>
	<title>Data Visualize</title>
<style type="text/css">
	body {
  background-color:Lavender;
}
</style>
</head>
<body>
<h1><p align='center'><b>Data Visualization</b></p></h1>
<div >
	<img style="padding-left: 200px;" src={{box}} alt="Chart" height="500" width="500">
	<img style="padding-left: 100px;" src={{stack}} alt="Chart" height="500" width="500">
</div>
<br>
<br>
<div >
	<img style="padding-left: 200px;" src={{area}} alt="Chart" height="500" width="500">
	<img style="padding-left: 100px;" src={{line}} alt="Chart" height="500" width="500">
</div>

</body>
</html>